<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="world.frisbee.morris.led_controller"
    android:versionCode="201"
    android:versionName="2.0">

    <uses-feature android:name="android.hardware.usb.host"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="world.frisbee.morris.led_controller.SequenceProgramming"
            android:label="Lights Sequence page"
            android:screenOrientation="portrait">
        </activity>
        <service
            android:name="world.frisbee.morris.led_controller.UsbService"
            android:enabled="true">
        </service>

    </application>

</manifest>