<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.morris.LEDbar_controller"
    android:versionCode="610"
    android:versionName="6.1">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.morris.LEDbar_controller.MainApplication"
        android:icon="@drawable/ic_launcher"
        android:label="LED2match"
        android:largeHeap="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.morris.LEDbar_controller.LicenseClass"
            android:label="License Page"
            />
        <activity
            android:name="com.morris.LEDbar_controller.TRSSequence"
            android:label="Sequence Programming (PRG)" />
        <activity
            android:name="com.morris.LEDbar_controller.ReassignLamps"
            android:label="Reassign Lamps" />
        <activity
            android:name="com.morris.LEDbar_controller.LightSettings"
            android:label="Set Lights"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.morris.LEDbar_controller.BtScannerActivity"
            android:label="RGB LED Bluetooth scanner"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.morris.LEDbar_controller.ServicePageActivity"
            android:label="LED2match"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.morris.LEDbar_controller.SequenceProgramming"
            android:label="Lights Sequence page"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.morris.LEDbar_controller.TRSDigitalPanel"
            android:label="LED2match"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />
        </activity>
        <activity
            android:name="com.morris.LEDbar_controller.TRSLightOperatingHours"
            android:label="Operating hours"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.morris.LEDbar_controller.TRSSequence_old"
            android:label="Sequence Programming (PRG)"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.morris.LEDbar_controller.TRSSettings"
            android:label="Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.morris.LEDbar_controller.TRSManualPage"
            android:label="Manual"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.morris.LEDbar_controller.TRSMaintenancePage"
            android:label="Maintenance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.morris.LEDbar_controller.TRSBluetoothDevicesScan"
            android:label="Paired bluetooth devices"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.morris.LEDbar_controller.sequenceSummaryPage"
            android:label="HTS-RGBW"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.morris.LEDbar_controller.OverlayPage"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.morris.LEDbar_controller.DisabledOverlayPage"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.morris.LEDbar_controller.MyListAdapter"
            android:label="PRG Sequence list" />

        <service
            android:name="com.morris.LEDbar_controller.UsbCOMMsService"
            android:enabled="true"
            android:stopWithTask="false" />
        <service
            android:name="com.morris.LEDbar_controller.BtCOMMsService"
            android:enabled="true"
            android:stopWithTask="false" />
    </application>

</manifest>